<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <div id="container">
      <%- include('../partials/header') %>
      <%- include('../partials/navigation') %>

      <main>
        <%- body %> <!-- Placeholder for the main content, filled by `index.ejs` or other pages -->
      </main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
