<% title = "Update " + inv_make + " " + inv_model; %>


<div class="container">
    <h1><%= title %></h1>

  <form id="updateForm" action="/inv/update" method="POST" class="update-inventory">
    <h3>All Fields Are Required</h3>
    <div>
      <label for="classification">Classification</label>
      <%- classificationSelect %>

      <label for="make">Make</label>
      <input type="text" id="inv_make" name="inv_make" value="<%= inv_make %>" required>

      <label for="model">Model</label>
      <input type="text" id="inv_model" name="inv_model" value="<%= inv_model %>" required>

      <label for="year">Year</label>
      <input type="number" id="inv_year" name="inv_year" min="1900" max="2100" step="1" value="<%= inv_year %>" required>

      <label for="description">Description</label>
      <textarea id="inv_description" name="inv_description" rows="4" cols="35" placeholder="Enter your description here..." required><%= inv_description %></textarea>

      <label for="image_path">Image Path</label>
      <input type="text" id="inv_image" name="inv_image" placeholder="/images/vehicles/no-image.png" value="<%= inv_image %>">

      <label for="thumbnail_path">Thumbnail Path</label>
      <input type="text" id="inv_thumbnail" name="inv_thumbnail" placeholder="/images/vehicles/no-image.png" value="<%= inv_thumbnail %>">

      <label for="price">Price</label>
      <input type="number" id="inv_price" name="inv_price" value="<%= inv_price %>" required>

      <label for="miles">Miles</label>
      <input type="number" id="inv_miles" name="inv_miles" value="<%= inv_miles %>" required>

      <label for="color">Color</label>
      <input type="text" id="inv_color" name="inv_color" value="<%= inv_color %>" required>
    </div>

    <div>
        <button type="submit" disabled>Update Vehicle</button>
    </div>

    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
  </form>

</div>

<script src="/js/inv-update.js"></script>
    